@page
@model KhumaloCraftReg_2.Pages.Products.EditModel
@{
}

<br />
<h2>Edit Product </h2>

@if (Model.errormessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>
			@Model.errormessage
		</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
		</button>


	</div>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Products;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False



}


<form method="POST">
	<input type="hidden" name="id" value="@Model.productInfo.id" />

	<div class=" row mb-3">
		<label class="col-sm-3  col-form-label "> Product Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="product name" value=" @Model.productInfo.product_name />

		</div>

	</div>

	<div class=" row mb-3">
		<label class="col-sm-3  col-form-label "> Price</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="price" value="@Model.productInfo.price" />
		</div>

	</div>

	<div class=" row mb-3">
		<label class="col-sm-3  col-form-label "> Category</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="categrory" value="@Model.productInfo.category" />

		</div>

	</div>


	<div class=" row mb-3">
		<label class="col-sm-3  col-form-label "> Ratings</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="ratings" value="@Model.productInfo.ratings" />

		</div>

	</div>
	<div class=" row mb-3">
		<label class="col-sm-3  col-form-label "> Availability</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="availability" value="@Model.productInfo.availability" />

		</div>

	</div>

		@if (Model.successMessage.Length > 0)
		{
		<div class="row mb-3">
			<div class=" col-sm-9">
				<div class="alert-success alert-dismissible fade show" role="alert">
					<strong> @Model.successMessage		</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert " aria-label="Close">
					</button>

				</div>



			</div>

		</div>


		}

	<div class=" row mb-3">
		<div class="offset-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary"> Submit</button>

		</div>
		<div class="col-sm-3 d-grid">
			<a class=" btn btn-outline-primary" href="/" role="button"> Cancle</a>

		</div>


	</div>




</form>